/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styles for Body */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #e66c6c;
    color: red;
}

/* Header Styles */
header {
    text-align: center;
    padding: 20px;
    background-color: red;
    color: white;
}

header a img {
    max-width: 200px;
    margin-bottom: 10px;
}

/* Navigation Styles */
nav ul {
    display: flex;
    justify-content: center;
    background-color: red;
    padding: 10px;
    list-style-type: none;
    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    border-right: solid white;
    padding-right: 10px;
}

/* Main Content Styles */
article {
    padding: 20px;
    background-color: white;
    max-width: 100%;
    margin: 20px auto;
}

article h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

article figure {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

article figure img {
    max-width: 50%;
    height: auto;
    margin-right: 10px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    margin-top: 10px;
}
/* Contact Item Image Styling */
.contact-item img.icon {
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height to match width for square images */
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
    margin-right: 10px; /* Spacing between the image and text */
}
